<div class="login-form">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h2>Login</h2>
    <div class="form-group has-error">
      <%= f.label 'Usuário' %><br />
      <%= f.text_field :username, autofocus: true, class: "form-control", required: true %>
      <% flash.each do |_key, value| %>
        <% if value == 'Invalid Username or password.' %>
          <div class="flash text-danger">Usuário ou senha inválida</div>
        <% end %>
      <% end %>
    </div>

    <div class="form-group has-error">
      <%= f.label 'Senha' %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control", required: true %>
    </div>

    <% if devise_mapping.rememberable? %>
        <div class="form-group has-error">
        <%= f.check_box :remember_me %>
        <%= f.label 'Lembrar-me' %>
      </div>
    <% end %>

      <div class="form-actions">
      <%= f.submit "Logar", class: "btn btn-danger btn-lg btn-block" %>
    </div>

    <%= link_to 'Não tem conta? cadastre sua empresa!', new_cliente_path %>
    <%= render "devise/shared/links" %>

  <% end %>
</div>