<div class="login-form">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h2>Login</h2>
    <div class="form-group has-error">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        <% flash.each do  %>
          <div class="flash text-danger">Email ou senha inválida</div>
        <% end %>
      </div>

      <div class="form-group has-error">
      <%= f.label 'Senha' %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
    </div>

    <% if devise_mapping.rememberable? %>
        <div class="form-group has-error">
        <%= f.check_box :remember_me %>
        <%= f.label 'Lembrar-me' %>
      </div>
    <% end %>

      <div class="form-actions">
      <%= f.submit "Logar", class: "btn btn-primary btn-lg btn-block" %>
    </div>

    <%= render "devise/shared/links" %>
  <% end %>
</div>