<%= form_with(scope: :user, local: true, url: funcionario_path(@user), method: :put) do |form| %>
  <h2>Cadastrar Usuário</h2>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>Verifique os erros abaixo</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group has-error">
    <%= form.label :email %>
    <%= form.email_field :email, class: 'form-control', required: true  %>
  </div>

  <div class="form-group has-error">
    <%= form.label 'Usuário' %>
    <%= form.text_field :username, class: 'form-control', required: true  %>
  </div>

  <div class="form-group has-error">
    <%= form.label 'Senha' %>
    <%= form.password_field :password, autocomplete: "current-password", class: "form-control", required: true  %>
  </div>

  <div class="actions">
    <%= form.submit 'Salvar', class: "btn btn-danger btn-lg btn-block" %>
  </div>
<% end %>